<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IFTE-2025</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta content="" name="keywords" />
    <meta
      content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
      name="viewport"
    />
    <!-- Goex v1.0 || ex nihilo || July 2020 -->
    <!-- style start -->
    <link href="css/plugins.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css" />
    <!-- style end -->
    <!-- google fonts start -->
    <link
      href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7COswald:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- google fonts end -->
  </head>

  <body>
    <!-- preloader start -->
    <div class="preloader-bg"></div>
    <div id="preloader">
      <div id="preloader-status">
        <div class="preloader-position loader">
          <span></span>
        </div>
      </div>
    </div>
    <!-- preloader end -->
    <!-- navigation start -->
    <nav class="navbar navbar-fixed-top navbar-bg-switch">
      <!-- container start -->
      <div class="container-fluid">
        <div class="navbar-header fadeIn-element">
          <!-- logo start -->
          <div class="logo">
            <a class="navbar-brand logo" href="#">
              <!-- logo light start -->
              <img 
                alt="Logo"
                class="logo-light"
                src="/logo.png" 
                height="30px"
              /><!-- logo light end -->
              <!-- logo dark start -->
              <img height="30px"
                alt="Logo"
                class="logo-dark"
               src="/logo.png" 
              /><!-- logo dark end --></a
            >
          </div>
          <!-- logo end -->
        </div>
        <!-- main navigation start -->
        <div class="main-navigation fadeIn-element">
          <div class="navbar-header">
            <button
              aria-expanded="false"
              class="navbar-toggle collapsed"
              data-target="#navbar-collapse"
              data-toggle="collapse"
              type="button"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <!-- menu start -->
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="page-scroll link-underline-menu active" href="#home"
                  >Bosh sahifa</a
                >
              </li>
              <!-- <li class="dropdown">
                <a class="page-scroll languz link-underline-menu">Uz</a>
                <div class="dropdown-content">
                  <p>Hello World!</p>
                </div>
              </li> -->

              <li>
                <a class="page-scroll link-underline-menu" href="#about"
                  >Forum haqida</a
                >
              </li>
              <li>
                <a class="page-scroll link-underline-menu" href="#goals"
                  >Maqsadlar</a
                >
              </li>
              <li>
                <a class="page-scroll link-underline-menu" href="#maps"
                  >Joylashuv</a
                >
              </li>

              <li>
                <a
                  download
                  class="page-scroll link-underline-menu"
                  href="/IFTE_2025_Information_Letter_Forum.pdf"
                  >Axborot xati</a
                >
              </li>
              <li>
                <a class="page-scroll link-underline-menu" href="#contact"
                  >Biz bilan bog'lanish</a
                >
              </li>
            </ul>
            <!-- menu end -->
          </div>
        </div>
        <!-- main navigation end -->
      </div>
      <!-- container end -->
    </nav>
    <!-- navigation end -->
    <!-- home section start -->
    <section class="upper-page" id="home">
      <!-- hero bg start -->
      <div class="hero-fullscreen overlay overlay-dark-70">
        <!-- ken burns image slideshow start -->
        <div class="hero-bg kenburns-slide-wrapper">
          <div class="kenburns-slide kenburns-slide-1"></div>
          <div class="kenburns-slide kenburns-slide-2"></div>
          <div class="kenburns-slide kenburns-slide-3"></div>
          <div class="kenburns-slide kenburns-slide-4"></div>
        </div>
        <!-- ken burns image slideshow end -->
      </div>
      <!-- hero bg end -->
      <!-- center container start -->
      <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
          <!-- home subtitle start -->
          <h2 class="home-page-title fadeIn-element">
            XI Xalqaro pedagogik ta’lim forumi (IFTE-2025)
          </h2>
          <!-- home subtitle end -->
          <!-- divider start -->
          <div class="inner-divider-half"></div>
          <!-- divider end -->
          <!-- home title start -->
          <h1 class="home-page-title fadeIn-element">
            XALQARO, MILLIY VA HUDUDIY O‘LCHAMLARDA ZAMONAVIY PEDAGOGIK TA’LIM
          </h1>
          <!-- home title end -->
          <!-- divider start -->
          <div class="inner-divider-half"></div>
          <!-- divider end -->
          <!-- sign up modal launcher start -->
          <div class="the-button-wrapper fadeIn-element">
            <div class="the-button">May 30, 2025 - Iyun 05, 2025</div>
          </div>
          <!-- sign up modal launcher end -->
        </div>
        <!-- center block end -->
      </div>
      <!-- center container end -->
      <!-- social icons start -->
      <div class="social-icons-wrapper fadeIn-element">
        <ul class="social-icons">
          <li class="social-icon">
            <a class="ion-social-twitter" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-facebook" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-googleplus" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-youtube" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-linkedin" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-instagram" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-pinterest" href="#"></a>
          </li>
          <li class="social-icon">
            <a class="ion-social-dribbble" href="#"></a>
          </li>
        </ul>
      </div>
      <!-- social icons end -->
      <!-- scroll indicator start -->
      <div class="scroll-indicator-wrapper fadeIn-element">
        <div class="scroll-indicator"></div>
      </div>
      <!-- scroll indicator end -->
    </section>
    <!-- home section end -->

    <section class="section-light" id="about">
      <!-- container start -->
      <div class="container">
        <!-- divider start -->
        <div class="inner-divider"></div>
        <!-- divider end -->
        <!-- row start -->
        <div class="row">
          <!-- col start -->
          <div class="col-lg-12">
            <!-- page title start -->
            <div class="post-title">Forum haqida</div>
            <!-- page title end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- divider start -->
        <div class="inner-divider"></div>
        <div class="col-sm-12 mb-10">
          <div class="post-txt">
            <h4>
              <p>
                Sharof Rashidov nomidagi Samarqand davlat universiteti Samarqand
                davlat chet tillar instituti va Shahrisabz davlat pedagogika
                instituti bilan hamkorlikda Sizni 2025 yil 3-5 iyun kunlari
                bo‘lib o‘tadigan pedagogik ta’lim bo‘yicha
                «IFTE-2025:UZBEKISTAN» xalqaro forumiga taklif etadi.
              </p>
              <br />
              <p>
                Forumning asosiy konferensiyalari va ularning sho‘balari:
                <br />
                - Pedagog-talabalarni amaliyotga yoʻnaltirilgan oʻqitish: oliy
                oʻquv yurti va maktab hamkorligi modellari
                <br />
                - Koʻp madaniyatli dunyoda pedagogik taʼlim: tarix va hozirgi
                zamon
                <br />
                – Oʻqituvchi-tarbiyachi: vazifa va muammolar
              </p>
            </h4>
          </div>
        </div>

        <!-- divider end -->
        <!-- row start -->

        <div class="row justify-content-between">
          <!-- col start -->
          <div class="col-md-4 col-sm-12">
            <div class="post-txt">
              <!-- page subtitle start -->
              <h4 class="post-heading">
                Sharof Rashidov nomidagi Samarqand davlat universiteti
              </h4>
              <!-- page subtitle end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- page subtitle number start -->
              <div  class="post-title">2025-yil 3-iyun</div>
              <!-- page subtitle number end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- page TXT start -->
              <p>
                1 . Oliy o‘quv yurti - maktab hamkorlik modellarning zamonaviy
                shakllari <br />
                2. Amaliyotga yo‘naltirilgan ta’limda raqamli texnologiyalar
                <br />
                3. Yosh pedagoglarni qo‘llab-quvvatlash ustoz-shogird tizimi
                <br />
                4. Inklyuziv ta'lim va alohida ehtiyojga ega bolalar bilan
                ishlash <br />
              </p>
              <!-- page TXT end -->
            </div>
            <!-- mobile divider start -->
            <div class="inner-divider-mobile"></div>
            <!-- mobile divider end -->
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="post-txt">
              <!-- page subtitle start -->
              <h4 class="post-heading">
                Samarqand davlat chet tillari instituti
              </h4>
              <!-- page subtitle end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- page subtitle number start -->
              <div class="post-title">2025-yil 4-iyun</div>
              <div class="inner-divider-half"></div>
              <p>
                5. Ko‘p madaniyatli ta’lim: muammo va istiqbollar <br />
                6. Turli mamlakatlarda pedagogik ta’limning tarixiy an’analari
                <br />
                7. Bo‘lajak pedagoglarda bag‘rikenglik va madaniyatlararo
                muloqotni shakllantirish <br />
                8. Ko‘p madaniyatli ta'limda raqamli texnologiyalardan
                foydalanish
              </p>
              <!-- page TXT end -->
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="post-txt">
              <!-- page subtitle start -->
              <h4 class="post-heading">
                Shahrisabz davlat pedagogika instituti
              </h4>
              <!-- page subtitle end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- page subtitle number start -->
              <div class="post-title">2025-yil 5-iyun</div>
              <!-- page subtitle number end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- page TXT start -->
              <p>
                9. Zamonaviy jamiyatda o‘qituvchining tarbiyaviy roli <br />
                10. Psixologik-pedagogik qo‘llab-quvvatlash va o‘qituvchilarning
                kasbiy zo‘riqish <br />
                11. Pedagogik kasbda etik va axloqiy me’yorlar <br />
                12. Ta’lim muassasalarida tarbiya jarayoniga innovatsion
                yondashuvlar. <br />
              </p>
              <!-- page TXT end -->
            </div>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- divider start -->
        <div class="inner-divider"></div>
        <!-- divider end -->
      </div>
      <!-- container end -->
      <div class="container">
        <!-- divider start -->
        <!-- row start -->
        <div class="row">
          <!-- col start -->
          <div class="col-lg-12">
            <!-- page title start -->
            <div id="goals" class="post-title">Forumning asosiy maqsadlari</div>
            <!-- page title end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- divider start -->
        <div class="inner-divider"></div>
        <!-- divider end -->
        <!-- row start -->
        <div class="row justify-content-center">
          <!-- col start -->
          <div class="col-sm-12">
            <div class="post-txt">
              <!-- divider start -->
              <!-- <div class="inner-divider-half"></div>divider end -->
              <!-- page subtitle number start -->
              <h4>
                <p>
                  ✔ Pedagogik ta’lim sohasidagi dolzarb va istiqbolli xalqaro
                  ilmiy loyihalarni muhokama qilish, ishchi seminarlar doirasida
                  ishtirokchilarning harakatlarini muvofiqlashtirish va amalga
                  oshirish rejalarini belgilash
                </p>
                <br />
                <p>
                  ✔ O‘qituvchilarni tayyorlash, pedagogik amaliyot natijalarini
                  taqdim etish, tajriba va fikr almashish orqali ta’lim
                  jarayonini takomillashtirish.
                </p>
              </h4>
              <p></p>
              <!-- page TXT end -->
            </div>
            <!-- mobile divider start -->
            <div class="inner-divider-mobile"></div>
            <div class="inner-divider"></div>
            <!-- mobile divider end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- divider start -->
        <!-- divider end -->
      </div>
      <!-- container end -->
    </section>
    <!-- about section end -->
    <!-- services section start -->
    <section>
      <!-- halve dark start -->
      <div class="halves section-dark">
        <!-- halve dark visible IMG start -->
        <!-- <div class="half services-bg-1 visible-xs"></div> -->
        <!-- halve dark visible IMG end -->
        <!-- halve dark TXT start -->
        <div class="half map-samdu-image">
          <!-- divider start -->
          <div class="inner-divider"></div>
          <!-- divider end -->
          <!-- col start -->
          <div class="post-txt post-txt-light services-txt">
            <!-- page subtitle start -->

            <div class="inner-divider-half"></div>

            <!-- divider end -->
            <!-- page title start -->
            <div class="post-title post-title-light">3-iyun</div>
            <!-- page title end -->
            <!-- divider start -->

            <!-- divider start -->
            <div class="inner-divider-half"></div>
            <!-- divider end -->
            <!-- page TXT start -->
            <p>
              Sharof Rashidov nomidagi Samarqand davlat universiteti,
              O‘zbekiston Respublikasi, 140100, Samarqand shahri, Universitet
              bulvari, 15.
            </p>
            <!-- page TXT end -->
          </div>
          <!-- mobile divider start -->
          <div class="inner-divider-mobile"></div>
          <!-- mobile divider end -->
          <!-- col end -->
          <!-- divider start -->
          <div class="inner-divider hide-on-mobile"></div>
          <!-- divider end -->
        </div>
        <!-- halve dark TXT end -->
        <!-- halve dark hidden IMG start -->
        <div class="half hidden-xs" id="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.910068401583!2d66.96522443883515!3d39.6489734009829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d18cddc57780f%3A0x26754d158e8b093c!2sSamarkand%20State%20University%20Faculty%20of%20Biology%2C%20Shohruh%20Mirzo%20Street%2C%20Samarkand%2C%20Samarqand%20Region%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1739119974490!5m2!1sen!2s"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <!-- halve dark hidden IMG end -->
      </div>
      <!-- halve dark end -->
      <!-- halve light start -->
      <div class="halves section-light">
        <!-- halve light IMG start -->
        <div class="half">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.9797483362645!2d66.96215037934569!3d39.65017031095938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d18ce36ffe105%3A0x2fc344ea136c09b!2sSamarkand%20State%20Institute%20of%20Foreign%20Languages!5e0!3m2!1sen!2s!4v1741598406371!5m2!1sen!2s"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <!-- halve light IMG end -->
        <!-- halve light TXT start -->
        <div class="half map-samdchti-image">
          <!-- divider start -->
          <div class="inner-divider"></div>
          <!-- divider end -->
          <!-- col start -->
          <div class="post-txt post-txt-light services-txt">
            <div class="post-title post-title-light">4-iyun</div>

            <div class="inner-divider-half"></div>
            <!-- divider end -->
            <!-- page TXT start -->
            <p>
              Samarqand davlat chet tillar instituti, O‘zbekiston Respublikasi,
              140100, Samarqand shahri, Gagarin ko‘chasi, 43.
            </p>
            <!-- page TXT end -->
          </div>
          <!-- mobile divider start -->
          <div class="inner-divider-mobile"></div>
          <!-- mobile divider end -->
          <!-- col end -->
          <!-- divider start -->
          <div class="inner-divider hide-on-mobile"></div>
          <!-- divider end -->
        </div>
        <!-- halve light TXT end -->
      </div>
      <!-- halve light end -->
      <!-- halve dark start -->
      <div class="halves section-dark">
        <!-- halve dark visible IMG start -->
        <div class="half services-bg-1 visible-xs"></div>
        <!-- halve dark visible IMG end -->
        <!-- halve dark TXT start -->
        <div class="half map-ped-image">
          <!-- divider start -->
          <div class="inner-divider"></div>
          <!-- divider end -->
          <!-- col start -->
          <div class="post-txt post-txt-light services-txt">
            <!-- page subtitle start -->

            <div class="post-title post-title-light">5-iyun</div>

            <div class="inner-divider-half"></div>
            <!-- divider end -->
            <!-- page TXT start -->
            <p>
              Shahrisabz davlat pedagogika instituti, O‘zbekiston Respublikasi,
              180100, Shahrisabz shahri, Shahrisabz ko‘chasi, 10
            </p>
            <!-- page TXT end -->
          </div>
          <!-- mobile divider start -->
          <div class="inner-divider-mobile"></div>
          <!-- mobile divider end -->
          <!-- col end -->
          <!-- divider start -->
          <div class="inner-divider hide-on-mobile"></div>
          <!-- divider end -->
        </div>
        <!-- halve dark TXT end -->
        <!-- halve dark hidden IMG start -->
        <div class="half hidden-xs">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3098.0692421748035!2d66.8494425757984!3d39.05933617169004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4c9bcd72f689e5%3A0xd8f257f4c281eb73!2sShahrisabz%20davlat%20pedagogika%20instituti!5e0!3m2!1sen!2s!4v1741598469807!5m2!1sen!2s"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <!-- halve dark hidden IMG end -->
      </div>
      <!-- halve dark end -->
    </section>
    <!-- services section end -->
    <!-- launch section start -->
    <section>
      <!-- parallax wrapper start -->
      <div class="parallax parallax-launch" data-parallax-speed="0.75">
        <!-- parallax overlay start -->
        <div class="parallax-overlay"></div>
        <!-- parallax overlay end -->
        <!-- divider start -->
        <div class="inner-divider"></div>
        <!-- divider end -->
        <!-- countdown start -->
        <div class="countdown">
          <!-- page subtitle start -->
          <h2 class="countdown-top">Loyiha boshlanguncha</h2>
          <!-- page subtitle end -->
          <!-- divider start -->
          <div class="inner-divider-half"></div>
          <!-- divider end -->
          <!-- page days number start -->
          <h3>{dnnn}</h3>
          <!-- page days number end -->
          <!-- divider start -->
          <div class="inner-divider-half"></div>
          <!-- divider end -->
          <!-- page days TXT start -->
          <h2 class="countdown-bottom">Kun qoldi</h2>
          <!-- page days TXT end -->
        </div>
        <!-- countdown end -->
        <!-- divider start -->
        <div class="inner-divider"></div>
        <!-- divider end -->
      </div>
      <!-- parallax wrapper end -->
    </section>
    <!-- launch section end -->
    <div class="inner-divider-light"></div>
    <!-- put here -->

    <div class="inner-divider inner-divider-light"></div>

    <section class="section-light" id="contact">
      <div class="container">
        <footer class="py-5 p-4">
          <h2 class="post-title">Biz bilan bog'lanish</h2>
          <div class="row p-4">
            <div class="col-4 col-md-4 mb-3">
              <h5 class="text-body-secondary footer-header">
                Sharof Rashidov nomidagi Samarqand davloat unniversiteti
              </h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <span class="nav-link p-0 text-body-secondary">
                    <strong> Kontaktlar: </strong>
                    Ahmedova Shakhzoda +998909098657, Tursunov Lochin
                    +998912998899
                  </span>
                </li>
                <li class="nav-item mb-2">
                  <span class="nav-link p-0 text-body-secondary">
                    <strong> E-mail: </strong>
                    shakhzodaahmedova@gmail.com, ifteuzbekistan2025@gmail.com
                  </span>
                </li>
              </ul>
            </div>

            <div class="col-4 col-md-4 mb-3">
              <h5 class="text-body-secondary footer-header">
                Samarqand davlat chet tillari instituti
              </h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <span class="nav-link p-0 text-body-secondary">
                    <strong> Kontakt: </strong>

                    Julmatova Saodat +998975786875, Narzikulova Feruza
                    +998915569869</span
                  >
                </li>
                <li class="nav-item mb-2">
                  <span class="nav-link p-0 text-body-secondary">
                    <strong> E-mail: </strong>

                    sjulmatova@gmail.com
                  </span>
                </li>
              </ul>
            </div>

            <div class="col-4 col-md-4 mb-3">
              <h5 class="text-body-secondary footer-header">
                Shahrisabz davlat pedagogika instituti
              </h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <span class="nav-link p-0 text-body-secondary">
                    <strong> Kontakt: </strong>
                    Sardor Ximmatov +99895 335 23 99
                  </span>
                </li>
                <li class="nav-item mb-2">
                  <span class="nav-link p-0 text-body-secondary">
                    <strong> E-mail: </strong>

                    ifte.shdpi2025@mail.ru
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-body-secondary"
          >
            <p class="text-body-secondary">© 2024 IFTE-2025</p>
          </div>
        </footer>
      </div>
    </section>
    <!-- contact section end -->

    <!-- to top arrow start -->
    <a class="page-scroll" href="#home">
      <div class="to-top-arrow">
        <span class="ion-ios-arrow-up"></span>
      </div> </a
    ><!-- to top arrow end -->
    <!-- scripts start -->
    <script src="js/plugins.js"></script>
    <script src="js/goex.js"></script>
    <!-- scripts end -->
  </body>
</html>
